<p><strong>New Comment:<strong></p>
<form method="post" action="/quizes/<%= quizid %>/comments/">
  <input type="text" id="comment" name="comment[text]"
    placeholder="Your Comment"/><p>
  <button type="submit">Send</button>
</form>
