<p>
<label for="username" class="rem">
  <strong>Username:</strong>
</label>
<input type="text" id="username"
  name="user[username]" placeholder="<%=user.username%>"/>
</p>

</p>
<label for="password" class="rem">
  <strong>Password:</strong>
</label>
<input type="password" id="password"
  name="user[password]" placeholder="Password"/>
</p>

<a href="/"><button type="button">Cancel</button></a>

<input type="submit" value="Send"/>
