<p>
  <label for="question" class="rem"><strong>Question: </strong></label>
  <input type="text" name="quiz[question]"
    placeholder="<%= quiz.question %>" required>
</p>

<p>
  <label for="theme" class="rem"><strong>Theme: </strong></label>
  <select name="quiz[theme]">
    <option value="Select" selected> Select theme </option>
    <option value="Other"> Other </option>
    <option value="Geography"> Geography </option>
    <option value="Humanities"> Humanities </option>
    <option value="Leisure"> Leisure </option>
    <option value="Science"> Science </option>
    <option value="Technology"> Technology </option>
  </select>
</p>


<p>
  <label for="answer" class="rem"><strong>Answer: </strong></label>
  <input type="text" name="quiz[answer]"
    placeholder="<%= quiz.answer %>" required>
</p>

<p>
  <label for="image" class="rem"><strong>Image: </strong></label>
  <input type="file" accept="image/*" name="image"
    placeholder="<%= quiz.answer %>" required>
</p>

<p>
  <a href="/quizes"><button type="button">Cancel</button></a>
  <input type="submit" value="Save">
</p>
