<p>
  <label for="question" class="rem">Question: </label>
  <input type="text" name="quiz[question]"
    placeholder="<%= quiz.question %>" required>
</p>

<p>
  <label for="answer" class="rem">Answer: </label>
  <input type="text" name="quiz[answer]"
    placeholder="<%= quiz.answer %>" required>
</p>

<p>
  <a href="/quizes"><button type="button">Cancel</button></a>
  <input type="submit" value="Save">
</p>
