
<p><strong>Your answer:</strong/> <%= check.yourAnswer %><br/></p>
<p><strong><%= check.msg %></strong></p>
<p>
  <a href='/quizes/<%= check.buttonRedir %>'>
    <button type="button"><%= check.buttonValue %></button>
  </a>
</p>
