<form method="get" action="/quizes/<%= quiz.id %>/answer">
  <p>Question: <%= quiz.question %>
  <input type='text' name='answer' placeholder='Your answer' autofocus />
  <input type='submit' value='Check'/></p>
</form>
