<h1><strong>Login</strong></h1>

<form method='POST' action='/login'>
  <div class="field">
    <label for="login"><strong>Login:</strong></label><br/>
    <input type="text" id="login" name="login" placeholder="Username" />
  </div>

  <div class="field">
    <label for="password"><strong>Password:</strong></label><br/>
    <input type="password" id="password" name="password" placeholder="Password"/>
  </div>

  <div class="actions">
    <input name="commit" type="submit" value="Login" />
  </div>
</form>
